:root {

    /* Fonts */
--prim-font:'Roboto', sans-serif;
--logo-font: 'Raleway', sans-serif;

    /* Text colors */
--prim-txt-color: #434455;
--light-txt-color: #FFFFFF;
--title-txt-color: #2e2f42;
--logo-head-color: #2e2f42;
--logo-foot-color: #F4F4FD;
--brand-color: #4D5AE5;
--footer-txt-color: #E7E9FC;
--hover-link-color:#404BBF;


/* BG colors */
--prim-bg-color: #ffffff;
--dark-bg-color: #2E2F42;
--light-bg-color: #F4F4FD;
--prim-btn-bg-color: #4D5AE5;
--sec-btn-bg-color: #E7E9FC;
--hover-btn-bg-color: #404BBF;


/* Others */
--gap: 24px;
--items: 4;

}
   

body {
font-family: var(--prim-font);
color: var(--prim-txt-color);
background-color: var(--prim-bg-color);
letter-spacing: 0.02em;
line-height: calc(24 / 16);
}

ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.title {
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    text-transform: capitalize;
    color: var(--title-txt-color);
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid red;
    outline-offset: -2px; */
}

/**
  |============================
  | Header
  |============================
*/
.page-header {
    border-bottom: 1px solid var(--footer-txt-color);
    /* background-color: #555; */
}

.header-container {
    display: flex;
    align-items:center;
    

}

.logo-link {
    color: var(--brand-color);
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24 / 18);
    display: block;
    padding: 24px 0 24px 0;
    margin-right: 76px;

    }

.logo-clr {
    color: var(--logo-head-color);
}

.menu {
   margin-right: auto; 
}
.menu-list {
    display: flex;
    gap: 40px;
   
}


/* .list {}
.menu-item {}
.link {} */

.menu-link {
    display: block;
    font-weight: 500;
    color: var(--title-txt-color);
    padding: 24px 0 24px 0;
}

/* .current::after {
    display: block;
    content: "";
    width: 48px;
    height: 4px;
    background-color: #404BBF;
    margin-top: 24px;
} */

.menu-link:hover,
.menu-link:focus {
color: var(--hover-link-color);
}

.current {
    color: var(--hover-link-color);
}

/* .contacts { */
    

.contacts-list {
    display: flex;
    gap: 40px;
    align-items:center;
    margin-left: 10px;
   
}
/* .contacts-item { */


.contacts-link {
    display: block;
    font-style: normal;
    color: inherit;
    padding: 24px 0 24px 0;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--hover-link-color);
}

/**
  |============================
  | Main
  |============================
*/

.hero {

    background-color: var(--dark-bg-color);
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

}

.hero-title {
    font-size: 56px;
    line-height: calc(60 / 56);
    text-align: center;
    color: var(--light-txt-color);
    width: 494px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
}

.btn {
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: inherit;  
    /* line-height ніби працює, але не дуже розумію звідки воно наслідується, бо в ДЕВТУЛЗ в боді - перекреслене  */
    letter-spacing: 0.04em;
    color: var(--light-txt-color);
    background-color: var(--prim-btn-bg-color);
    cursor: pointer;
    border-radius: 4px;
}

.hero-btn {
    display: block;
    padding: 16px 32px;
    border-style: none;
    margin-right: auto;
    margin-left: auto;
    
}

.btn:hover,
.btn:focus {
    background-color: var(--hover-btn-bg-color);
}

    /**
      |============================
      | Features
      |============================
    */

/* .features {
    background-color: tomato;
} */

.features-list {
    display: flex;
    gap: var(--gap);
}

.features-item {
    flex-basis: calc( ( 100% - var(--gap) * ( var(--items) - 1 ) ) / var(--items) ); 
}



.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    margin-bottom: 8px;
}





/* .features-icon:hover{
background-color: violet */


.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    color: var(--title-txt-color);
    margin-bottom: 8px;
 
}

/* .features-text {} */

/**
  |============================
  | What are we doing
  |============================
*/

.we-do {
    padding-top: 0;
    /* background-color: navy; */
}
.we-do-title {
    margin-bottom: 72px;
}
.we-do-list {
    display: flex;
    gap: var(--gap);
    --items: 3;
}
.we-do-item {
    flex-basis: calc((100% - var(--gap) * (var(--items) - 1)) / var(--items));
}
/* .we-do-img {} */

/**
  |============================
  | Team
  |============================
*/
    
.team {
    background: var(--light-bg-color)
}

.team-section-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: var(--gap);
}

.team-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--prim-bg-color);
    flex-basis: calc((100% - var(--gap) * (var(--items) - 1)) / var(--items));
}
/* .team-img {
}  */
.team-text-container {
    padding: 32px 16px 32px 16px;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    text-align: center;
    color: var(--title-txt-color);
    margin-bottom: 8px;
}
.team-text {
    text-align: center;
    margin-bottom: 8px;
}

.socials-list{
    display: flex;
    gap: 24px;
}
    

.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    fill: #F4F4FD;        
}

.socials-link:hover,
.socials-link:focus {
    background-color: #404BBF;
}


/**
  |============================
  | Footer
  |============================
*/

.page-footer {
    background-color: var(--dark-bg-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-wrapper{
display: flex;
gap: 120px;
}

.page-footer .logo-link {
    
    padding: 0;
    margin-right: 0;
    margin-bottom: 16px;
}
.ft-logo-clr {
    color: var(--logo-foot-color);
}

.page-footer-text {
    color: var(--footer-txt-color);
    max-width: 264px;
}

.socials-text{
    font-weight: 500;
    color: var(--light-txt-color);
    margin-bottom: 16px;
}
.socials-footer-list{
    display: flex;
    gap: 16px;
}

.socials-footer-link {
display: flex;
align-items: center;
justify-content: center;
fill: #F4F4FD;
background-color: #FFFFFF1A;
width: 40px;
height: 40px;
border-radius: 50%;
}

.socials-footer-link:hover,
.socials-footer-link:focus{
    background-color: #31D0AA;
}
/**
  |============================
  | Portfolio
  |============================
*/

/* Main */

.portfolio {
    padding-top: 96px;
}

.filter-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;

}

/* .filter-item { */


.port-btn {
    color: var(--brand-color);
    background-color: var(--sec-btn-bg-color);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 12px 24px;

    
}

.port-btn:hover,
.port-btn:focus {
    color: var(--light-txt-color);
    border: 1px solid transparent;

}


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    --items:3;
    
}

.portfolio-item {
    flex-basis: calc((100% - var(--gap) * (var(--items) - 1)) / var(--items));

}

/* .portfolio-img {}  */

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    color: var(--title-txt-color);
    margin-bottom: 8px;
    
}

/* .portfolio-text {} */

.portfolio-wrapper {
    border-right: 1px solid var(--footer-txt-color);
    border-bottom: 1px solid var(--footer-txt-color);
    border-left: 1px solid var(--footer-txt-color);
    padding: 32px 0 32px 16px;

}